{% extends 'base.html' %}
{% include messages %}

{% block content %}

{% include 'messages.html' %}
{% include 'teacher_dashboard_navbar.html' %}

{% if not students %}
<div class="col-10 mx-auto bg-white rounded" style="min-height: 500px; margin-top: 10px; padding: 30px; position: relative;">
    <h3 class="text-center" style="margin-bottom: 15px; color: rgb(80, 80, 80)">На данный момент у вас нет учеников</h3>
		<div class="position-absolute bottom-50 start-50 translate-middle-x d-flex align-items-center justify-content-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" style="opacity: 75%;" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
				<path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
			</svg>
		</div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x d-flex align-items-center justify-content-center" style="padding: 30px;">
        <a href="{% url 'teacher_calendar' %}?action=add" class="btn btn-primary" role="button">Создать занятие</a>
    </div>

</div>
{% else %}
<div class="col-10 mx-auto rounded" style="padding: 20px; margin-top: 10px; height: 500px; overflow-y: auto; max-height: 500px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for student in students %}
        <div class="col">
            <a href="{% url 'view_student_profile' student.pk %}" class="list-group-item list-group-item-action bg-white border rounded" style="padding: 20px;margin: 10px;">
                <div class="list-image">
                    <img src="{{ student.user.profile_photo.url }}" alt="Profile Image">
                </div>
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ student.user.first_name }} {{ student.user.last_name }}</h5>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}