{% extends 'base.html' %}
{% include messages %}


{% block content %}

{% include 'messages.html' %}

{% include 'teacher_dashboard_navbar.html' %}
<div class="col-10 mx-auto" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white rounded" style="height: 500px; padding: 30px; position: relative;">
				{% if unavailable_lessons %}
                <h3 class="text-center" style="margin-bottom: 15px;">Запланированные</h3>
				<div style="overflow-y: auto; max-height: 325px;">
					<table class="table">
						<thead>
						<tr>
							<th>Дата</th>
							<th>Время</th>
							<th>Предмет</th>
							<th>Студент</th>
							<th>Продолжительность</th>
						</tr>
						</thead>
						<tbody>
							{% for lesson in unavailable_lessons %}
							<tr>
								<td>{{ lesson.date|date:"j E" }}</td>
								<td>{{ lesson.date|date:"H:i" }}</td>
								<td>{{ lesson.subject.name }}</td>
								<td>{{ lesson.student.user.first_name }} {{ lesson.student.user.last_name }}</td>
								<td>{{ lesson.duration }} минут</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
					<h3 class="text-center" style="margin-bottom: 15px; color: rgb(80, 80, 80)">Запланированные</h3>
					<div class="position-absolute bottom-50 start-50 translate-middle-x d-flex align-items-center justify-content-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" style="opacity: 75%;" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
							<path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
						</svg>
					</div>
				{% endif %}
			</div>
			
		</div>
		<div class="col-md-6">
			<div class="bg-white rounded" style="height: 500px; padding: 30px; position: relative; ">
				{% if all_lessons %}
				<h3 class="text-center" style="margin-bottom: 15px;">Доступные для записи</h3>
				<div style="overflow-y: auto; max-height: 325px;">
				<table class="table ">
						<tr>
							<th>Дата</th>
							<th>Время</th>
							<th>Предмет</th>
							<th>Продолжительность</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for lesson in all_lessons %}
					<tr>
						<td>{{ lesson.date|date:"j E" }}</td>
						<td>{{ lesson.date|date:"H:i" }}</td>
						<td>{{ lesson.subject.name }}</td>
						<td>{{ lesson.duration }} минут</td>
						<form method="POST" action="{% url 'delete_lesson' lesson.id%}?action=delete">
							{% csrf_token %}
						<td><button type="submit" class="btn-close" aria-label="Close"></button></td>
					</form>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>
				{% else %}
				<h3 class="text-center" style="margin-bottom: 15px; color: rgb(80, 80, 80)">Доступные для записи</h3>
				<div class="position-absolute bottom-50 start-50 translate-middle-x d-flex align-items-center justify-content-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="100" style="opacity: 75%;" height="100" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
						<path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
						<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
					</svg>
				</div>
				{% endif %}
				<div class="position-absolute bottom-0 start-50 translate-middle-x d-flex align-items-center justify-content-center" style="padding: 30px;">
					<a href="{% url 'teacher_calendar' %}?action=add" class="btn btn-primary" role="button" aria-pressed="true">Добавить</a>
				</div>
			</div>
		</div>

	</div>

</div>

{% endblock %}
