{% extends 'base.html' %} 
{% load static %} 
{% include messages %} 
{% block content %} 
{% include 'messages.html' %}
<header
  class="col-10 bg-white rounded py-3"
  style="margin: 20px; align-self: center; padding: 10px"
>
  <div class="container px-3">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-3 text-center text-xl-start" style="padding: 20px">
          <h1 class="display-5 fw-bolder mb-2" style="padding: 15px">
            Найди своего учителя уже сегодня!
          </h1>
          <p class="lead fw-normal mt-4 mb-4" style="padding: 15px">
            Для того чтобы получить доступ к основным функциям платформы
            необходимо пройити авторизацию
          </p>
          <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
            style="padding: 15px"
          >
            <a
              class="btn btn-primary btn-lg px-4 me-sm-3"
              href="{% url 'login' %}"
              >Войти</a
            >
            <a
              class="btn btn-outline-dark btn-lg px-4"
              href="{% url 'create_account' %}"
              >Зарегистрироваться</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="media/images/home_page/AdobeStock_478782479.jpeg"
          alt="..."
        />
      </div>
    </div>
  </div>
</header>
{% endblock %}
