{% extends 'base.html' %}

{% block content %}
{% include 'student_card.html' %}
{% include 'task_navbar.html' %}

<div class="col-10 bg-white mx-auto" style="height: auto; margin-top: 10px; padding-top: 30px; padding-bottom: 10px; margin-bottom: 20px">
  <div class="col-8 mx-auto text-center">
      <form method="POST" action="{% url 'create_task' student.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin:15px;">
          {{form.subject}}
        </div>
        <div style="margin:15px;">
          {{ form.title }}
        </div>
        <div style="margin:15px;">
          {{ form.deadline }}
        </div>
        <div style="margin:15px;">
          {{ form.content }}
        </div>
        <div style="text-align: left; margin: 15px;">
          <lable>Выберите файл:</lable>
          {{ form.attached_file}}
        </div>
        <div style="text-align: left; margin: 15px;">
          <lable>Выберите изображение:</lable>
          {{form.attached_image}}
        </div>
        <div style="padding: 20px;">
          <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
