{% extends 'base.html' %}
{% load humanize%}
{% block content %}

{% include 'student_card.html' %}
{% include 'task_navbar.html' %}



<div class="col-10 mx-auto bg-white rounded" style="height: auto; margin: 10px; padding: 15px">

        <div class="col-10 mx-auto">
            {% if assignment.checked == True %}
            <div class="alert alert-primary" role="alert">
                Задание проверено!
            </div>
        {% endif %}
            <div class="card" style="min-height: 200px;">
                <div class="card-header">Задание</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">{{assignment.title}}</h5>
                  <p class="card-text">{{assignment.content}}</p>
                  {% if assignment.attached_file %}
                            <a href="{{ assignment.attached_file.url }}" download>
                                <button type="button" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                                    </svg> Файл </button>
                            </a>
                    {% endif %}
                    {% if assignment.attached_image %}
                            <a href="{{ assignment.attached_image.url }}" download>
                                <button type="button" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                                </svg> Изображение </button>
                            </a>
                    {% endif %}
                </div>
              </div>
              </div>
              <div class="col-10 mx-auto" style="margin: 15px">
    
              <div class="card" style="min-height: 200px; position: relative;">
                <div class="card-header">Ответ</div>
                <div class="card-body text-dark">
                  {% if assignment.handed == False and is_teacher == False %}
                    <div class="col mx-auto">
                        <form method="POST" action="{% url 'view_content' assignment.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex align-items-center justify-content-center" style="margin-top: 25px;">
                                <button type="submit" class="btn btn-primary">Сдать</button>
                            </div>
                        </form>
                    </div>
                    {% elif assignment.handed == True %}
                        <p> {{assignment.response_content}} </p>
                        {% if assignment.response_file %}
                            <a href="{{ assignment.response_file.url }}" download>
                                <button type="button" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                                </svg> Файл </button>
                            </a> 
                        {% endif%}
                        <div class="d-flex align-items-center justify-content-center" style="margin: 15px;position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
                        {% if is_teacher %}
                            <form action="{% url 'check_task' assignment.pk %}" method="POST">
                                {% if assignment.checked == False %}
                                {% csrf_token %}      
                                <button type="submit" class="btn btn-primary">Проверить</button>
                                {% else %}
                                <button type="button" class="btn btn-primary disabled">Проверить</button>
                                {% endif %}
                            </form>
                        {% else %}
                            <form action="{% url 'cancel_response' assignment.pk %}" method="POST">
                                {% if assignment.checked == False %}
                                {% csrf_token %}      
                                <button type="submit" class="btn btn-primary">Отменить сдачу</button>
                                {% else %}
                                <button type="submit" class="btn btn-primary disabled">Отменить сдачу</button>
                                {%endif%}
                            </form>

                        {% endif %}
                        </div>
                    {% else %}
                        <h4 class="text-center" style="margin:30px">Задание не выполнено</h4>
                    {% endif %}
                </div>
              </div>
        </div>
</div>
{% endblock %}