{% extends 'base.html' %}
{% include messages %}


{% block content %}

{% include 'messages.html' %}
{% include 'student_dashboard_navbar.html' %}


<div class="col-10 mx-auto" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="bg-white rounded" style="position: relative; height: 500px; padding:30px" >
				{% if lessons %}
					<h3 class="text-center" style="margin-bottom: 25px;">Запланировано на сегодня</h3>
					<div style="overflow-y: auto; max-height: 325px;">
						<table class="table">
							<thead>
							<tr>
								<th>Время</th>
								<th>Предмет</th>
								<th>Продолжительность</th>
								<th>Преподаватель</th>
							</tr>
							</thead>
							<tbody>
							{% for lesson in lessons %}
							<tr>
								<td>{{ lesson.date|date:"H:i" }}</td>
								<td>{{ lesson.subject.name }}</td>
								<td>{{ lesson.duration }} минут</td>
								<td>{{ lesson.teacher.user.last_name}} {{lesson.teacher.user.first_name }} {{lesson.teacher.user.second_name}}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<div class="position-absolute bottom-50 start-50 translate-middle-x d-flex align-items-center justify-content-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="100" style="opacity: 75%;" height="100" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
							<path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
							<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
						</svg>
					</div>
					<div class="position-absolute bottom-0 start-50 translate-middle-x d-flex align-items-center justify-content-center" style="padding: 30px;">
						<a href="{% url 'slots' %}" class="btn btn-primary" role="button">Найти занятие</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-white rounded" style="height: 500px; padding: 30px; position: relative; ">
				<div class="card" style="height: 440px;">
					<div class="card-header">Предстоящие задания</div>
					{% if not assignments %}
						<div class="card-body text-dark d-flex justify-content-center align-items-center ">
							<div><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" style="opacity: 75%;" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
								<path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
								<path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
							  </svg>
							</div>
						</div>
					{% else %}
						<div class="card-body" style="padding: 20px; overflow-y: auto;">
							{% for assignment in assignments %}
								<div class="col">
									<a href="{% url 'view_content' assignment.id %}" class="list-group-item list-group-item-action bg-light border rounded" style="padding: 20px; margin-bottom: 10px;">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{assignment.subject.name|capfirst }}: {{assignment.title}}</h5>
									</div>
									<div>
										<p>
										Срок заканчивается {{assignment.deadline|date:"j E Y" }} в {{assignment.deadline|date:"H:i"}}
										</p>      
									</div>
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					</div>
				  </div>
				  </div>
			</div>	
			</div>
		</div>
</div>

{% endblock %}
