<header class="col-10 mx-auto bg-white py-4 rounded " style="margin-top: 20px;">
    <div class="container px-4">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="col-lg-8 col-xl-7 col-xxl-6">
				<div class="my-3 text-center text-xl-start">
					<div class="profile-image">
						<img src="{{ student.user.profile_photo.url }}" alt="Profile Image">
					</div>
					
				</div>
				<div class="text-center">
					<p class="mb-0" style="font-weight: bold; font-size: 22px;">
						{{ student.user.first_name }} {{ student.user.last_name }}</p>
				</div>
			</div>
		</div>
	</div>
</header>