{% extends 'base.html' %}
{% include messages %}
{% block content %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{% for message in messages %}
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	{% endfor %}
</div>
{% endif %}

{% if available_classes == True %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br/><br/>
			<h2>Доступные уроки</h2>
			<br/><br/>

			<div class="col-md-12">
				<table class="table">
					<thead>
					<tr>
						<th>Предмет</th>
						<th>Преподаватель</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Продолжительность</th>
					</tr>
					</thead>
					<tbody>


					{% with user_id=teacher.user %}
					{% for lesson in lessons %}
					<tr>
						<td>{{ lesson.subject.name }}</td>
						<td>
							{% for object in profile %}
							{% if object.0 == lesson.teacher_id %}
							{{ object.1.last_name}} {{ object.1.first_name }} {{ object.1.second_name}}
							{% endif %}
							{% endfor %}
						</td>
						<td>{{ lesson.date|date:"d F" }}</td>
						<td>{{ lesson.date|date:"H:i" }}</td>
						<td>{{ lesson.duration }}</td>

						<td>
							<form action="{% url 'register-for-class' lesson.pk %}" method="POST">
								{% csrf_token %}
								<button type="submit" name="lesson_id" value="{{ lesson.id }}"
										class="btn btn-primary btn-sm">Записаться
								</button>
							</form>
						</td>
					</tr>
					{% endfor %}
					{% endwith %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

{% else %}
</br><br><br><br>
<div>
	<center><h2>Нет доступных занятий... Возвращайтесь позже</h2></center>
</div>

{% endif %}
{% endblock%}
