{% extends 'base.html' %}
{% include messages %}


{% block content %}

{% include 'student_dashboard_navbar.html' %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{% for message in messages %}
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	{% endfor %}
</div>
{% endif %}

{% if call == 'calendar' %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<br/><br/>
			<h2>Предстоящие занятия</h2>
			<br/><br/>

			<table class="table">
				<thead>
				<tr>
					<th>Дата</th>
					<th>Время</th>
					<th>Предмет</th>
					<th>Продолжительность</th>
					<th>Преподаватель</th>
				</tr>
				</thead>
				<tbody>
				{% for date in dates %}
				{% for lesson in lessons %}
				{% if lesson.date|date:"Y-m-d" == date|date:"Y-m-d" %}
				<tr>
					<td>{{ lesson.date|date:"d F" }}</td>
					<td>{{ lesson.date|date:"H:i" }}</td>
					<td>{{ lesson.subject.name }}</td>
					<td>{{ lesson.duration }} минут</td>
					{% for item in teachers %} {% if item.0 == lesson.teacher_id %}
					<td>{{ item.1.last_name }} {{ item.1.first_name }} {% endif %} {% endfor %}</td>
				</tr>

				{% endif %}
				{% endfor %}
				{% endfor %}
				</tbody>
			</table>

			<br><br><br>
		</div>
	</div>
</div>

<center>
	<a href="{% url 'schedule' %}" class="btn active" role="button" aria-pressed="true">Найти занятия</a>
</center>
<br><br><br>

{% else %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<br/><br/>
			<h2>Запланировано на сегодня</h2>
			<br/><br/>
			<table class="table">
				<thead>
				<tr>
					<th>Время</th>
					<th>Предмет</th>
					<th>Продолжительность</th>
				</tr>
				</thead>
				<tbody>
				{% for lesson in lessons %}
				<tr>
					<td>{{ lesson.date|date:"H:i" }}</td>
					<td>{{ lesson.subject.name }}</td>
					<td>{{ lesson.duration }} минут</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endif %}

{% endblock %}
