{% include 'student_card.html' %}

<div class="col-10 bg-light mx-auto nav nav-tabs align-items-center justify-content-center rounded" style="margin-top: 15px;">
	<li class="nav-item">
		{% if action == 'dashboard' %}
			<a class="nav-link active" aria-current="page" href="{% url 'student_dashboard' %}">Мой день</a>
		{% else %}
			<a class="nav-link" aria-current="page" href="{% url 'student_dashboard' %}">Мой день</a>
		{% endif %}
	</li>
	<li class="nav-item">
		{% if action == 'calendar' %}
			<a class="nav-link active" href="{% url 'student_calendar' %}">Календарь</a>
		{% else %}
			<a class="nav-link " href="{% url 'student_calendar' %}">Календарь</a>
		{% endif %}
	</li>
	<li class="nav-item">
		{% if action == 'homework' %}
			<a class="nav-link active" href="{% url 'view_current_tasks' student.id %}">Задания</a>
		{% else %}
			<a class="nav-link" href="{% url 'view_current_tasks' student.id %}">Задания</a>
		{% endif %}
	</li>
	<!-- <li class="nav-item">
		<a class="nav-link" href="{% url 'chat' %}">Чат</a>
	</li> -->
	<li class="nav-item">
		{% if action == 'my_teachers' %}
			<a class="nav-link active" href="{% url 'student_teachers' %}">Мои учителя</a>
		{% else %}
		<a class="nav-link" href="{% url 'student_teachers' %}">Мои учителя</a>
		{% endif %}
	</li>
</div>

