{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Вход</h1>
			<p class="lead fw-normal text-white-50 mb-0">Войдите в аккаунт</p>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<center>
			<div class="col-5">

				<br/><br/>

				<form method="POST" action="{% url 'login' %}">
					{% csrf_token %}

					<div class="form-floating mb-3">

						<input type="email" class="form-control" name="email">
						<label for="floatingInput">Введите Электронную Почту</label>
						<br/>
						<div class="form-floating mb-3">

							<input type="password" class="form-control" name="password">
							<label for="floatingInput">Введите Пароль</label>
						</div>
						<div class="mb-3 form-check"
					</div>
					<br/>
					<button type="submit" class="btn btn-primary" >Войти</button>
				</form>
				<br/><br/>
				<p>Нет аккаунта?</p>
				<a href="{% url 'register' %}" class="btn active" role="button" aria-pressed="true">Зарегестрироваться</a>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
			</div>
		</center>
	</div>
</div>

{% endblock %}


