{% extends 'base.html' %}
{% include messages %}

{% block content %}
{% include 'messages.html' %}


<div class="container" style="padding: 50px;">
	<div class="container  bg-white border border-0 border-secondary border-opacity-50 rounded" style="padding: 15px;">
		<div class="row">
			{% if action == 'teacher' %}
			<h2 class="dysplay-4 fw-bold text-center" style="margin-top: 40px; margin-bottom: 80px;">Профиль преподавателя</h2>
			{% elif action == 'student' %}
			<h2 class="dysplay-4 fw-bold text-center" style="margin-top: 40px; margin-bottom: 80px;">Профиль студента</h2>
			{% else %}
			<h2 class="dysplay-4 fw-bold text-center" style="margin-top: 40px; margin-bottom: 80px;">Ваш профиль</h2>
			{% endif %}
      	</div>
		<div class="container">
			<div class="row">
				<div class="col-5 d-flex justify-content-center align-items-center">
					{% if profile.profile_photo %}
						<img class="resized-image" src="{{ profile.profile_photo.url }}">
					{% else %}
						<p>Фотография профиля отсутствует</p>
					{% endif %}
				</div>
				<div class="col-7 mx-auto">
				<div class="row">
					<div class="col-6">
						<p style="font-size: 20px; font-weight: bold">Фамилия</p>
					</div>
					<div class="col-6">
						<p style="font-size: 20px"> {{ profile.last_name }} </p>
					</div>
				</div>
					<div class="row">
						<div class="col-6">
							<p style="font-size: 20px; font-weight: bold">Имя</p>
						</div>
						<div class="col-6">
							<p style="font-size: 20px">{{ profile.first_name }}</p>
						</div>
					</div>
					{% if profile.second_name %}
						<div class="row">
							<div class="col-6">
								<p style="font-size: 20px; font-weight: bold">Отчество</p>
							</div>
							<div class="col-6">
								<p style="font-size: 20px">{{ profile.second_name }}</p>
							</div>
						</div>
					{% endif %}
					<div class="row">
						<div class="col-6">
							<p style="font-size: 20px; font-weight: bold">Дата рождения</p>
						</div>
						<div class="col-6">
							<p style="font-size: 20px">{{ profile.date_of_birth|date:"j E Y" }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<p style="font-size: 20px; font-weight: bold">Пол</p>
						</div>
						<div class="col-6">
							<p style="font-size: 20px">{{ profile.gender }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<p style="font-size: 20px; font-weight: bold">Город</p>
						</div>
						<div class="col-6">
							<p style="font-size: 20px">{{ profile.town }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<p style="font-size: 20px; font-weight: bold">Номер телефона</p>
						</div>
						<div class="col-6">
							<p style="font-size: 20px">{{ profile.phone_number }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 offset-md-7" style="margin-top: 60px; margin-bottom: 40px;">
			{% if action == 'teacher' or action == 'student' %}
				<a href="{% url 'chat_view' profile.pk %}" class="btn btn-primary">Написать</a>
			{% else %}
				<a href="{% url 'profile' %}?action=edit" class="btn btn-primary">Редактировать профиль</a>
			{% endif %}
			</div>
	</div>
</div>

{% endblock %}
